/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin-top: 50px;
  /* background-color: plum; */
}

/* ------------ GALLERY ------------ */

.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  width: 1500px;
  margin: 0 auto;
  padding: 24px 156px;
  background-color: #fff;
  border-radius: 20px;
}

.gallery-item {
  width: ((100% - 48px) / 3);
}

.gallery-item:hover {
  transform: scale(1.04);
}

.sl-wrapper.simple-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}
